<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Yet Another Todo App</title>
  </head>
  <body>
    <h1>Yet Another Todo App v.6</h1>
    <img src="api/img/pic.jpg" width="400px" height="400px" />
    <form id="todo-form">
      <input type="text" name="todo" id="todo-input" required />
      <input type="submit" value="Add todo" />
    </form>
    <ul id="todo-list"></ul>
  </body>
</html>

<script>
  const url = '/api/todos'

  const addTodo = content => {
    const list = document.getElementById('todo-list')
    const listItem = document.createElement('li')
    listItem.appendChild(document.createTextNode(content))
    list.appendChild(listItem)
  }

  const fetchTodos = () => {
    fetch(url)
      .then(response => response.json())
      .then(data => {
        data.forEach(todo => {
          addTodo(todo.content)
        })
      })
  }

  document.addEventListener('DOMContentLoaded', fetchTodos)

  const todoForm = document.getElementById('todo-form')
  todoForm.addEventListener('submit', handleFormSubmit)

  function handleFormSubmit(event) {
    event.preventDefault()
    const todoInput = document.getElementById('todo-input')

    if (todoInput.value.length > 140) {
      alert('Todo length exceeds the limit of 140 characters.')
      return
    }

    const content = { content: todoInput.value }

    fetch(url, {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json',
      },
      body: JSON.stringify(content),
    })
      .then(response => response.json())
      .then(data => {
        addTodo(data?.content)
        todoInput.value = ''
      })
  }
</script>